{% extends '_userbase.html' %}
{% load static %}


{% block usertitle %}User | Preference{% endblock usertitle %}

{% block userbreadcrumb_path %} <span class="material-symbols-outlined align-bottom text-blue-800">home</span> <span class="text-gray-500">/</span>&nbsp;&nbsp;&nbsp;Preference {% endblock userbreadcrumb_path %}
{% block userbreadcrumb_title %} Preference {% endblock userbreadcrumb_title %}



{% block userbody %}


    <div class="my-5 px-3 border border-gray-900 h-max rounded-lg">

        <div class="">
        
            <h3 class="my-5 text-xl font-semibold text-black">Choose following platforms from where  the jobs will scrap: </h3>
            <ul class="mb-10 grid w-full gap-6 md:grid-cols-5">
                <li>
                    <input type="checkbox" id="linkedin-option" value="" class="hidden peer" required="">
                    <label for="linkedin-option" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-400 rounded-lg cursor-pointer peer-checked:bg-blue-100 peer-checked:border-4 peer-checked:border-blue-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 ">                           
                        <div class="block">
                            <img class="mb-2 w-7 h-7 text-sky-500" src="{% static '/media/svg/linkedin.svg' %}" fill="currentColor" aria-hidden="true" ></img>
                                <div class="w-full text-lg text-black font-semibold">Linked In</div> 
                        </div>
                    </label>
                </li>
                <li>
                    <input type="checkbox" id="flowbite-option" value="" class="hidden peer">
                    <label for="flowbite-option" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-400 rounded-lg cursor-pointer peer-checked:bg-blue-100 peer-checked:border-4 peer-checked:border-blue-600 hover:text-gray-600 dark:peer-checked:text-gray-300 peer-checked:text-gray-600 hover:bg-gray-50 ">
                        <div class="block">
                            <svg class="mb-2 text-green-400 w-7 h-7" fill="currentColor" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M356.9 64.3H280l-56 88.6-48-88.6H0L224 448 448 64.3h-91.1zm-301.2 32h53.8L224 294.5 338.4 96.3h53.8L224 384.5 55.7 96.3z"/></svg>
                            <div class="w-full text-lg text-black font-semibold">Naukari.com</div> 
                        </div>
                    </label>
                </li>  
            </ul>
        
        </div>

    </div>


{% endblock userbody %}

